 <div class="bg-[#295093] mt-5">
 <div class="custom-container  ">        
  <div class="py-[18px] flex justify-between items-center">
  <a [routerLink]="['/home']"  >
  <span  class=" text-white  text-base font-bold   bg-[#133C82] p-3 rounded-md roboto-font mr-[198px]">YANGILIKLAR24</span>
  </a>
  <span  class=" text-white  text-sm font-medium roboto-font">Подписывайтесь на наш канал в Telegram и будьте всегда в курсе самых последних новостей:</span>
   <a href="" class="bg-white flex justify-center items-center rounded-[5px]">
    <img src="../../../../assets/images/footer-telegram-logo.svg" alt="" width="20" height="20" class="m-[9px] mr-0">
    <span class="roboto-font text-[#295093] font-semibold text-sm m-3 ml-1 ">Подписатся</span>
   </a>
  </div>
    <hr>
   <div class="flex ">
      <div class=" max-w-[365px] mb-3" >
        <h2 class="roboto-font font-semibold text-sm/[17px] text-white mb-5 mt-3">О сайте </h2>
         <p class="roboto-font font-normal text-sm/[17px] text-white "> Воспроизводство, копирование, тиражирование, распространение и иное использование информации с сайта <span     class="text-lg">«NAMANGANLIKLAR24.UZ»</span>  возможно только с предварительного письменного разрешения редакции.</p>
      </div>

       <ul class=" flex flex-wrap m-0 p-0 list-none roboto-font font-medium text-sm/[17px] text-white max-w-[520px] ml-[111px] mt-3 " >
       <li class="w-[50%]"><a href="#">Информация о сайте</a></li>
       <li class="w-[50%]"><a href="#"> Напишите нам</a> </li>
       <li class="w-[50%]"><a href="#">Реклама</a>  </li>
       <li class="w-[50%]"><a href="#">Прислать новость</a> </li>
       <li class="w-[50%]"><a href="#"> Использование материалов </a></li>
       <li class="w-[50%]"> <a href="#">Темы дня  </a></li>
       <li class="w-[50%]"> <a href="#">Наша команда</a></li>
      </ul>

  </div>

</div>
</div>