<div class="">
  @if (latestNewsItem?.publishedAt?.slice(0,11)===todayJson ||latestNewsItem?.publishedAt?.slice(0,11)===yesterdayJson) {
  
  <div class="flex items-center flex-wrap relative w-[794px] mb-[10px]">
    <div class="mr-5">
      <img
        class="rounded-[5px] object-cover  !w-[252px] !h-[143px]"
        src="{{ latestNewsItem?.urlToImage }}"
        alt=""
        width="252"
        height="143"
      />
    </div>
    <div class="w-[522px]">
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        class="text-[#202020] before:absolute before:top-0 before:bottom-0 before:left-0 before:right-0 hover:text-[#295091] transition-colors"
      >
        <h3 class="!font-medium !text-[17px]/[18px] mb-2 mt-0">
          {{ latestNewsItem?.title }}
        </h3>
      </a>
      <p class="font-normal text-[15px]/[18px] text-[#434343] !mb-3">
        {{ latestNewsItem?.description }}
      </p>
      <time  class=" inline-block font-normal text-[14px]/[17px] text-[#7688A4] mb-2">{{
        latestNewsItem?.publishedAt|date:"HH:mm / dd.MM.yyyy"
      }}</time>
    </div>
  </div>
  <hr class="h-[2px] bg-gray-300 text-gray-300 w-[794px] mb-[10px]"   />
  }
</div>