<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <header  class="border-t-[4px] border-[#295093]  bg-[#F6F6F9] ">
    <div class="custom-container">
      <div class="header-top flex justify-between items-center mt-[40px]">
          <div class="flex justify-between items-center">
            <a class="" [routerLink]="['/home']"> <span class="text-[#295091] text-[28px] font-bold   bg-white p-2  rounded-md rubik-font">YANGILIKLAR 24</span></a>
            <ul  class="flex justify-center rubik-font text-[16px] font-normal ml-[17px] ">
              <li class="mr-[25px]"><b class="text-[#285193]">P</b> <span class="text-[#7A7A7A]" >150.5</span></li>
              <li class="mr-[25px]"><b class="text-[#285193]">&euro;</b> <span class="text-[#7A7A7A]" >13012</span></li>
              <li><b class="text-[#285193]">&dollar;</b> <span class="text-[#7A7A7A]" >12340.2</span></li>
            </ul>
          </div>
          <div class="flex justify-between items-center">
            <button class="p-[11px] mr-[22px]" type="button"> <img src="../../../../assets/images/icon-magnify.svg" alt="icon magnify" width="18" height="18"></button>
            <button type="button" class="flex  items-center">
             <img src="../../../../assets/images/flag-russia.svg" alt="icon-russian-flag" width="20" height="20 ">
             <span class="roboto-font font-medium text-[16px] text-[#535353] pt-[11px] pb-[8px] px-[6px] ">РУ</span>
            </button>
            <a href="#" class="bg-gradient-to-r from-[#1E96C8] from-0% to-[#37AEE2] to-90%  rounded-[5px] p-[10px] flex items-center">
              <img src="../../../../assets/images/telegram-icon.svg" alt="telegram logosi" width="20" height="20" class="inline-block mr-[7px] " >
              <span class="rubik-font text-[16px] font-medium text-[#fff] mr-[12px]">Подписатся</span>
            </a>
          </div>
      </div>
      <!-- // header-top -->
      <nav>
        <ul>
          <li><a [routerLink]="['/']">Экономика</a> </li>
          <li><a [routerLink]="['/']">Мир</a></li>
          <li><a [routerLink]="['/']">Политика</a></li>
          <li><a [routerLink]="['/']">Общество </a></li>
          <li><a [routerLink]="['/']">Технологии </a></li>
          <li><a [routerLink]="['/']">Спорт</a> </li>
          <li><a [routerLink]="['/']">Культура</a> </li>
          <li><a [routerLink]="['/']">Происшествия</a> </li>
          <li><a [routerLink]="['/']">Туризм</a></li>
          <li><a [routerLink]="['/']">Узбекистана</a></li>
        </ul>
      </nav>
      <aside>
        <a href="#" target="_blank">
          <img src="../../../../assets/images/nrg-banner.jpg" srcset="../../../../assets/images/nrg-banner.jpg 1x, ../../../../assets/images/nrg-banner@2x.jpg 2x"   alt="NRG company " width="1200" height="99">
        </a>
      </aside>
    </div>
  </header>
</body>
</html> 
 <!-- <div class="border-t-[4px] border-[#295093]  bg-[#F6F6F9] ">
  <header class="custom-container">
    <div class="flex justify-between items-center m-[40px]   ">
        <div class="flex">
          <a class="" [routerLink]="['/home']"> <span class="text-[#295091] text-[28px] font-bold   bg-white p-2  rounded-md rubik-font">YANGILIKLAR 24</span></a>
          <ul  class="flex justify-center rubik-font text-[16px] font-normal ml-[17px] ">
            <li class="mr-[25px]"><b class="text-[#285193]">P</b> <span class="text-[#7A7A7A]" >150.5</span></li>
            <li class="mr-[25px]"><b class="text-[#285193]">&euro;</b> <span class="text-[#7A7A7A]" >13012</span></li>
            <li><b class="text-[#285193]">&dollar;</b> <span class="text-[#7A7A7A]" >12340.2</span></li>
          </ul>
        </div>
        <div class=" flex justify-between  items-center">
          <button class="p-[11px] mr-[22px]" type="button"> <img src="../../../../assets/images/icon-magnify.svg" alt="icon magnify" width="18" height="18"></button>
          <button type="button" class="flex  items-center">
           <img src="../../../../assets/images/flag-russia.svg" alt="icon-russian-flag" width="20" height="20 ">
           <span class="roboto-font font-medium text-[16px] text-[#535353] pt-[11px] pb-[8px] px-[6px] ">РУ</span>
          </button>
          <a href="#" class="bg-gradient-to-r from-[#1E96C8] from-0% to-[#37AEE2] to-90%  rounded-[5px] p-[10px] flex items-center">
            <img src="../../../../assets/images/telegram-icon.svg" alt="telegram logosi" width="20" height="20" class="inline-block mr-[7px] " >
            <span class="rubik-font text-[16px] font-medium text-[#fff] mr-[12px]">Подписатся</span>
          </a>
        </div>
      </div>
       <nav class="custom-container">
        <ul>
          <li><a [routerLink]="['/']">Экономика</a> </li>
          <li><a [routerLink]="['/']">Мир</a></li>
          <li><a [routerLink]="['/']">Политика</a></li>
          <li><a [routerLink]="['/']">Общество </a></li>
          <li><a [routerLink]="['/']">Технологии </a></li>
          <li><a [routerLink]="['/']">Спорт</a> </li>
          <li><a [routerLink]="['/']">Культура</a> </li>
          <li><a [routerLink]="['/']">Происшествия</a> </li>
          <li><a [routerLink]="['/']">Туризм</a></li>
          <li><a [routerLink]="['/']">Узбекистана</a></li>
        </ul>
       </nav>
  </header>
</div> -->

