<div class="">
  <a class="" [routerLink]="['/home']"  > <span>Yangilik24</span></a>
  <ul>
    <li><b>P</b> <span>150.5</span></li>
    <li><b>&euro;</b> <span>13012</span></li>
    <li><b>&dollar;</b> <span>12340.2</span></li>
  </ul>
  <div>
    <button type="button"><img src="../../../../assets/images/icon-magnify.svg" alt="icon magnify" width="24" height="24"></button>
    <button type="button"><img src="../../../../assets/images/flag-russia.svg" alt="icon magnify" width="20" height="20 ">
     <span>РУ</span>
    </button>
    <a href="#"> 
      <img src="../../../../assets/images/telegram-icon.svg" alt="telegram logosi" width="20" height="20">
      <span>Подписатся</span>
    </a>
  </div>
</div>
