<app-navbar></app-navbar>
<div class="p-0 flex flex-wrap -ml-[21px] mt-10">
  @for (news of newsItems ; track news) {
    <div class=" relative  w-[386px] grow ml-[21px] mb-[18px] ">
      <app-news [newsItem]="news"></app-news> 
    </div>
  }
</div>
 


<div class="flex  items-start">
  <div class=""> 
    <h2 class="!font-semibold !text-3xl/6 !text-[#000000] !mb-3">Latest news</h2>     
       @for (latestNewsItem of latestNews  ; track latestNewsItem) {
       
          <app-latest-news [latestNewsItem]="latestNewsItem" ></app-latest-news>
       
     
    }
  
  </div>
  <div class="  !pt-0    !ml-[40px]  flex flex-col   rounded-md  mb-5">
    <h2 class="!font-medium !text-2xl/6  !text-[#202020]">Popular news</h2>
    @for (popularNewsItem of popularNews ; track popularNewsItem) {
     <div class=" !w-[386px] py-2 grow bg-[#f0f0f3] p-2" >
      <app-popular-news [popularNews]="popularNewsItem"></app-popular-news>
    </div>                
    }
  </div>
</div>
<app-footer></app-footer>
